.Craftwithcare{
    height: 100vh;
    padding: 15vh 0 0 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: rgba(0, 0, 0, 0.282);
}

.Craftwithcare_Left{
    padding: 2% 3%;
    text-align: justify;
    border-right: solid 2px white;
}

.Heading{
    font-family: 'Rampart One', cursive;
    font-size: 4rem;
    margin: 15px 0;
    border-bottom: solid 1px white;
    padding: 2% 6%;
}

.Craftwithcare_Text{
    flex-basis: 400px;
    flex-grow: 1;
    padding: 2% 6%;
    font-size: 1.4rem;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
}
